
<!--
<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">{{include.heading}}</h3>
    <p class="usa-alert__text">{{include.content}}</p>
  </div>
</div>
-->

<section class="usa-site-alert usa-site-alert--info" aria-label="Site alert info,">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">{{include.heading}}</h3>
      <p class="usa-alert__text">{{include.content}}</p>
    </div>
  </div>
</section>
